#board{
	background: black;
	height: 94vw;
	width: 94vw;
	max-height: 600px;
	max-width: 600px;
	margin: 3vw;
	display: grid;
	grid-template-columns: repeat(3,minmax(30vw,50vmax));
	grid-template-rows: repeat(3,minmax(30vw,100px));
	grid-gap: 2vw;
}

.box{
	background-color: grey;
	/* padding: auto; */
}

.xoInput{
	/* font-size: 10vw; */
	/* text-align: center; */
	/* margin: 50%; */
}

#title{
	text-align: center;
}