#board{
	background: black;
	height: 310px;
	width: 310px;
	/* max-height: 600px; */
	/* max-width: 600px; */
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3,100px);
	grid-template-rows: repeat(3,100px);
	grid-gap: 5px;
}

.box{
	background-color: grey;
	display: inline;
	font-size: 50px;
	text-align: center;
	line-height: 0px;
	font-family: Helvetica, Arial;
	/* padding: auto; */
}


#title{
	font-family: Verdana, Arial;
	text-align: center;
	
}

/*testing */